html {
    background-color: rgb(127, 112, 182);
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(248, 255, 240);
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(76, 77, 150);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: rgb(77, 60, 119);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}

.container .container-left {
    position: relative;
    background: rgb(56, 25, 231);
    padding: 40px;
}

.profile .img {
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    border: solid, 2px, white;
    overflow: hidden;
}

.img {
    background: rgb(189, 0, 0);
    height: 220px;
    width: 220px;
}

img{
    background-color: rgb(121, 103, 168);
    margin: 0;
    height: 220px;
    width: 220px;
}


.container .containerleft h3, h4 {
    position: relative;
    margin-left: 50px;
}